* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

/* NAVBAR */

header {
    position: sticky;
    top: 0;
    z-index: 10;
}
header nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 3px black;
    background-color: rgb(231, 231, 231);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
header nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
header nav ul li {
    width: fit-content;
    height: fit-content;
}
header nav ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    padding: 15px;
    border-left: 2px solid rgb(197, 197, 197);
}

/* FIRST SECTION HOMEPAGE */

.fs-homepage {
    margin: 0;
    /* width: 100vw; */
    background-image: url("/resources/images/bailey-zindel-NRQV-hBF10M-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    height: 1080px;
    padding: 0;
    box-shadow: 0 0 300px inset  black;
    /* border-bottom: 2px solid black; */
}
.fs-container {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fs-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fs-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: rgb(194, 168, 255);
    text-shadow: 0 0 3px black, 0 0 5px black;
    margin: 20px auto;
}

/* FIRST SECTION IMAGE DESC CONTINER */
.fs-img-desc-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.fs-second-title-content {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(230, 199, 255, 0.322);
    width: calc(100vw - 200px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.fs-second-title-content p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.fs-par-container{
    background-color: rgba(185, 201, 115, 0.397);
    padding: 30px;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
}

.fs-par{
    text-align: center;
    font-size: calc(1vw + 1.3em);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(12, 61, 0);
    text-shadow: 0 0 3px rgb(156, 156, 156),0 0 5px rgb(255, 255, 255);
}

/* IMAGE AND DESCRIPTION CONTAINER */
.img-desc-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1400px;
}

[class*="hiking-"]{
    border: 3px solid rgb(0, 0, 0);
    margin: 30px 0;
    background-color: rgba(150, 116, 65, 0.534);
}

/* IMAGES AND DESCRIPTIONS - HOMEPAGE - TYPE: 1*/
.hiking-1 {
    /* width: 100vw; */
    padding: 0;
}
.hiking-1 .container-1 {
    display: flex;
    margin: 0;
    padding: 0;
}
.hiking-1 .container-1 .img-container-1{
    width: 416px;
    height: 400px;
    overflow: hidden;
}
.hiking-1 .container-1 img {
    float: left;
    width: 500px;
}
.hiking-1 .container-1 .p-container-1 {
    padding: 0 20px;
    align-self: center;
    font-size: 30px;
    margin: 0;
}

.hiking-1 .container-1 .under-p{
    margin: 0;
    flex: 0 0 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* IMAGE AND DESCRIPTION - HOMEPAGE - TYPE: 2 */
.hiking-2 {
    /* width: 100vw; */
    padding: 0;
}
.hiking-2 .container-2 {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    
}
.hiking-2 .container-2 .img-container-2{
    width: 416px;
    height: 400px;
    overflow: hidden;
}
.hiking-2 .container-2 .img-container-2 img{
    float: right;
    width: 400px;
    position: relative;
    bottom: 180px;
}
.hiking-2 .container-2 .p-container-2 {
    padding: 0 20px;
    align-self: center;
    font-size: 30px;
    margin: 0;
    text-align: right;
}

.hiking-2 .container-2 .p-container-2 .under-p{
    margin: 0;
    flex: 0 0 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* IMAGES AND DESCRIPTIONS - HOMEPAGE - TYPE: 3*/
.hiking-3 {
    /* width: 100vw; */
    padding: 0;
}
.hiking-3 .container-3 {
    display: flex;
    margin: 0;
    padding: 0;
}
.hiking-3 .container-3 .img-container-3{
    width: 516px;
    height: 400px;
    overflow: hidden;
}
.hiking-3 .container-3 img {
    float: left;
    width: 600px;
}
.hiking-3 .container-3 .p-container-3 {
    padding: 0 20px;
    align-self: center;
    font-size: 30px;
    margin: 0;
}

.hiking-3 .container-3 .under-p{
    margin: 0;
    flex: 0 0 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* IMAGE AND DESCRIPTION - HOMEPAGE - TYPE: 4 */
.hiking-4 {
    /* width: 100vw; */
    padding: 0;
}
.hiking-4 .container-4 {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    
}
.hiking-4 .container-4 .img-container-4{
    width: 516px;
    height: 300px;
    overflow: hidden;
}
.hiking-4 .container-4 .img-container-4 img{
    float: right;
    width: 500px;
    position: relative;
    bottom: 0px;
}
.hiking-4 .container-4 .p-container-4 {
    padding: 0 20px;
    align-self: center;
    font-size: 30px;
    margin: 0;
    text-align: right;
}

.hiking-4 .container-4 .p-container-4 .under-p{
    margin: 0;
    flex: 0 0 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* IMAGES AND DESCRIPTIONS - HOMEPAGE - TYPE: 5*/
.hiking-5 {
    /* width: 100vw; */
    padding: 0;
}
.hiking-5 .container-5 {
    display: flex;
    margin: 0;
    padding: 0;
}
.hiking-5 .container-5 .img-container-5{
    width: 516px;
    height: 400px;
    overflow: hidden;
}
.hiking-5 .container-5 img {
    float: left;
    width: 600px;
}
.hiking-5 .container-5 .p-container-5 {
    padding: 0 20px;
    align-self: center;
    font-size: 30px;
    margin: 0;
}

.hiking-5 .container-5 .under-p{
    margin: 0;
    flex: 0 0 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* IMAGE AND DESCRIPTION - HOMEPAGE - TYPE: 6 */
.hiking-6 {
    /* width: 100vw; */
    padding: 0;
}
.hiking-6 .container-6 {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    
}
.hiking-6 .container-6 .img-container-6{
    width: 516px;
    height: 300px;
    overflow: hidden;
}
.hiking-6 .container-6 .img-container-6 img{
    float: right;
    width: 500px;
    position: relative;
    bottom: 0px;
}
.hiking-6 .container-6 .p-container-6 {
    padding: 0 20px;
    align-self: center;
    font-size: 30px;
    margin: 0;
    text-align: right;
}

.hiking-6 .container-6 .p-container-6 .under-p{
    margin: 0;
    flex: 0 0 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* FOOTER */
footer{
    margin: 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    background-color: rgb(30, 108, 153);
    border-top: 3px solid black;
}